body{
	background-color: red;
}

header{
	width: 100%;
	height: 40px;
	background-color: blue;
}

.SimplePrice{
	width: 100%; //will change in @media
	height: 200px; //placeholder
	background-color: grey;
	margin: 0 auto 3em auto;
}

.plan-types{
	width: 100%; //will change in @media
	height: 700px; //placeholder
	background-color: green;
	margin: 0 auto 3em auto;

	h1, h2{
		color: white;
	}
}

.personal-plan{
	width: 100%; //will change @media
	height: 20em;
	background-color: #699157;

	text-align: center;
}

h1{
	font-size: 18px;
	margin: 3em auto 0 auto;
}

h2{
	font-size: 100px;
	margin: 0 auto;
}


h3{
	color: #B0C7A8;
}

.feature{
	background-color: #F8F8F8;
	width: 100%;
	height: 2em;
	text-align: center;
	padding-top: 1em;

	&:hover{
		background-color: darken(#F8F8F8, 10%);
		cursor: pointer;
	}
}


.more-info{
	width: 100%; //will change in @media
	height: 500px; //placeholder
	background-color: pink;
}

