
header{
	width: 100%;
	height: 40px;
	background-color: blue;
}

.SimplePrice{
	width: 100%; //will change in @media
	height: 200px; //placeholder
	background-color: grey;
	margin: 0 auto 3em auto;
}

.plan-types{
	width: 100%; //will change in @media
	border: 1px solid #DEDEDE;

	background-color: #E2E2E2;
}

.plan-header{
	width: 100%; //will change @media
	height: 20em;
	text-align: center;

	h1, h2, h3{
		color: white;
	}
}

.personal-plan{
	background-color: #699157;
}

.small-bus-plan{
	background-color: #394A82;
}

.enterprise-plan{
	background-color: black;
}


h1{
	font-size: 18px;
	margin: 3em auto 0 auto;
}

h2{
	font-size: 100px;
	margin: 0 auto;
}


h3{
	opacity: 80%;
}

.feature{
	background-color: #F8F8F8;
	border: 1px solid #DEDEDE;
	width: 100%;
	height: 2em;
	text-align: center;
	padding-top: 1em;

	&:hover{
		background-color: darken(#F8F8F8, 10%);
		cursor: pointer;
	}
}

.choose-button{
	width: 130px; //change to em?
	height: 30px;
	//border-radius: 40% 40% 40% 40%;
	margin: 1em auto;
	background-color: grey;

	text-align: center;
	padding-top: 1em;

}


.more-info{
	width: 100%; //will change in @media
	padding: 4em auto;
	background-color: pink;
}

.info-block{
	width: 100%;
	height: 200px; //placeholder
	padding: 2em;
	box-sizing: border-box;
	margin: 1em auto;

	background-color: white;

}

footer{
	width: 100%;
	height: 30px; //placeholder
	background-color: black;
}










