body{
	background-color: red;
}

header{
	width: 100%;
	height: 40px;
	background-color: blue;
}

.SimplePrice{
	width: 100%; //will change in @media
	height: 200px; //placeholder
	background-color: grey;
	margin: 0 auto 3em auto;
}

.plan-types{
	width: 100%; //will change in @media
	height: 700px; //placeholder
	background-color: green;
	margin: 0 auto 3em auto;
}

.personal-plan{
	width: 100%; //will change @media
	height: 20em;
	background-color: #699157;

	text-align: center;
}

h1{
	
}


.more-info{
	width: 100%; //will change in @media
	height: 500px; //placeholder
	background-color: pink;
}

